# Binaries
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Environment Variables (RAHASIA!)
.env

# IDE Specific
.vscode/
.idea/

# OS Specific
.DS_Store
Thumbs.db

# Uploaded Files (keep directory structure with .gitkeep)
uploads/*
!uploads/.gitkeep
uploads/drivers/*
!uploads/drivers/.gitkeep

uploads/
postman/
db/
docs/
